.container {
  max-width: 950px;
  width: 100%;
  padding: 50px 40px;
  margin: 0px 20px;
  border-radius: 12px;
  background: #22272c;
  box-shadow: 0px 4px 16px rgba(254, 205, 211, 0.1),
    0px 8px 24px rgba(254, 205, 211, 0.1),
    0px 16px 56px rgba(254, 205, 211, 0.1);
}

.container .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.content input {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin-right: 50px;
  align-self: flex-start;
}

.content .list label {
  cursor: pointer;
  height: auto;
  line-height: 60px;
  font-size: 22px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 25px;
  transition: all 0.5s ease;
  z-index: 2;
}

#home:checked ~ .list label.home span,
#blog:checked ~ .list label.blog span,
#help:checked ~ .list label.help span,
#code:checked ~ .list label.code span,
#use-service:checked ~ .list label.use-service span,
#pay:checked ~ .list label.pay span,
#disclaimer:checked ~ .list label.disclaimer span,
#liability:checked ~ .list label.liability span,
#compensation:checked ~ .list label.compensation span,
#refund-policy:checked ~ .list label.refund-policy span,
#complaints:checked ~ .list label.complaints span {
  color: white;
}



.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  transition: all 0.5s ease;

  background: #0775aa;
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 60px;
}

#help:checked ~ .list .slider {
  top: 135px;
}

#code:checked ~ .list .slider {
  top: 195px;
}
#use-service:checked ~ .list .slider {
  top: 0;
}

#pay:checked ~ .list .slider {
  top: 60px;
}

#disclaimer:checked ~ .list .slider {
  top: 130px;
}

#liability:checked ~ .list .slider {
  top: 195px;
}

#compensation:checked ~ .list .slider {
  top: 260px;
}

#refund-policy:checked ~ .list .slider {
  top: 330px;
}

#complaints:checked ~ .list .slider {
  top: 390px;
}



.content .text-content {
  width: 70%;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
}

.content .text {
  display: none;
}

.content .text .title {
  font-size: 25px;
  line-height: 32px;
  margin: 16px 0 4px;
  font-weight: 500;
  display: inline-block;
}

.container .text p {
  text-align: justify;
}

.content .text-content .home {
  display: block;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about,
#use-service:checked ~ .text-content .use-service,
#pay:checked ~ .text-content .pay,
#disclaimer:checked ~ .text-content .disclaimer,
#liability:checked ~ .text-content .liability,
#compensation:checked ~ .text-content .compensation,
#refund-policy:checked ~ .text-content .refund-policy,
#complaints:checked ~ .text-content .complaints {
  display: block;
}

#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home,
#use-service:checked ~ .text-content .home,
#pay:checked ~ .text-content .home,
#disclaimer:checked ~ .text-content .home,
#liability:checked ~ .text-content .home,
#compensation:checked ~ .text-content .home,
#refund-policy:checked ~ .text-content .home,
#complaints:checked ~ .text-content .home {
  display: none;
}

.content .list span:hover {
  color: white;
}

::selection {
  background: #0775aa;
  color: #fff;
}
